.wrapper {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: #80808028;
}

.contentWrapper {
  margin: 0 auto;
  height: 100vh;
  width: 375px;
  /* 지현님께 padding 통일 물어보기~! */
  padding: 0 20px;
  background-color: white;
}
