.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.profileBG {
  width: 100%;
  padding: 20px 20px;
  background: linear-gradient(197.78deg, #4d23d6 30.81%, #8dabff 107.31%);
}
.userInfoWrap {
  margin-top: 86px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.userPhoto {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: sandybrown;
}
.userNameWrap {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}
.userName {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
}
.challengeDay {
  //   padding: 6px 14px;
  width: 61px;
  height: 29px;
  background: #ffffff;
  border-radius: 6px;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 17px;
  color: #4d23d6;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginMenuWrap {
  margin-top: 50px;
}
.loginButton {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 26px;
  color: #ffffff;
  margin-bottom: 26px;
  text-decoration: 1px underline;
  text-underline-position: under;
  cursor: pointer;
}
.challengeStatus {
  width: 100%;
  height: 36px;
  display: flex;
  align-items: center;
  background-color: #4d23d6;
  margin-top: 36px;
  padding-left: 16px;
  border-radius: 6px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #ffffff;
}
.challengeCntWrap {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cntWrap {
  width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cntLable {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 26px;
  color: #ffffff;
}
.cntNumber {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
}
.cntLine {
  height: 39px;
  width: 1px;
  background-color: #ffffff;
}
.menuWrap {
  padding: 0px 20px;
}
.menuItem {
  height: 58px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid #cccccd;
  cursor: pointer;
}
.menuText {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #252525;
}
.arrowIcon {
  width: 24px;
  height: 24px;
}
.accountMenuWrap {
  display: flex;
  justify-content: flex-end;
}
.accountMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  bottom: 90px;
}
.accountMenuText {
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  color: #cccccd;
  cursor: pointer;
}
.accountLine {
  height: 10px;
  width: 1px;
  background-color: #cccccd;
  margin: 0px 8px;
}
