.wrapper {
  background: linear-gradient(197.78deg, #4d23d6 30.81%, #8dabff 107.31%);
  padding: 54px 20px 32px 20px;
  margin-bottom: 12px;
}
.backArrowIcon {
  width: 24px;
  height: 24px;
  color: white;
}
.userInfoWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.userPhoto {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background-color: sandybrown;
}
.userName {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  margin-top: 12px;
}
.tagWrap {
  margin-top: 8px;
  display: flex;
  justify-content: center;
}
.categoryTag {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 17px;
  padding: 6px 8px;

  color: #4d23d6;
  background-color: white;
  border-radius: 6px;
  margin-right: 2px;
}
.dayTag {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 17px;
  padding: 6px 14px;
  color: #4d23d6;
  background-color: white;
  border-radius: 6px;
  margin-left: 6px;
}
